<div class="slider-container">
  <div class="left-slide">
    <div style="background-color: #fde">
      <h1>Nature flower</h1>
      <p>all in pink</p>
    </div>
    <div style="background-color: rgb(254,160,0)">
      <h1>Blue Sky</h1>
      <p>with it's mountains</p>
    </div>
    <div style="background-color: rgb(231, 58, 95)">
      <h1>Lonely castle</h1>
      <p>in the wilderness</p>
    </div>
    <div style="background-color: rgb(176, 136, 240)">
      <h1>Lavanda love</h1>
      <p>in the sunset</p>
    </div>
  </div>
  <div class="right-slide">
    <div style="background-image: url('https://images.unsplash.com/photo-1528756514091-dee5ecaa3278?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Zmxvd2Vyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1296&q=60');"></div>
    <div style="background-image: url('https://images.unsplash.com/photo-1519378058457-4c29a0a2efac?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2Vyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1296&q=60');"></div>
    <div style="background-image: url('https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Zmxvd2Vyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1296&q=60');"></div>
    <div style="background-image: url('https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');"></div>
  </div>
  <div class="action-buttons">
    <button class="down-button">
      <i class="fas fa-arrow-down"></i>
    </button>
    <button class="up-button">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
</div>