.main-header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 3;

  nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    min-height: 10vh;
    padding: 2rem;
    width: 90%;
  }

  nav ul {
    align-items: center;
    color: var(--secondary-color);
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    text-decoration: none;
  }

  ul li {
    list-style: none;
    text-decoration: none;
  }

  #logo a {
    color: var(--highlight-color);
    flex: 1 1 40rem;
    font-family: 'Pattaya', Arial, Helvetica, sans-serif;
    font-weight: 200;
  }

  a {
    color: var(--primary-color);
    font-size: var( --header4);
    text-decoration: none;
  }
}

@media screen and (max-width: 932px) {
  nav {
    text-align: center;
  }

  #logo {
    padding: 0.5rem 2rem 2rem 2rem ;
  }
}