<header class="main-header">
  <nav>
    <h1 id="logo">
      <%= link_to 'TravelGram', root_path%>
    </h1>
    <ul>
      <li><a href="#locations">Locations</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><%= link_to "Blog", blog_path%></li>
      <li><%= link_to "Gallery", gallery_path%></li>
    </ul>
  </nav>
</header>